body{
    background: rgb(0, 0, 0);
    margin-left: 30px;

    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap%27');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* start: global style rules */
h1, h2, h3, h4, h5 {
    line-height: 1.5;
    font-weight: 300;
    margin: 0.5em 0;
}

h1 {
    font-size: 2.5em;
    font-style: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.7em;
    font-style: bold;
   
       
    
}

h5 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

p, label, strong {
    line-height: 2;
    font-size: 0.85em;
    font-weight: 300;
}

.flex {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.badge {
    padding: 9px 20px;
    color: #eee;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 0.75em;
}






/* end: global style rules */

/* start: header styles */
header {
    background-color: #000000;
    padding: 10px 0;
    position:relative;
    border-bottom: 1px solid #fbff00;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #FFB320;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #FFB320;
    margin: 4px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 18px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #ff2020;
}

  


    .logo img {
        width:150px;
        height:35px;
        padding-left: 0px;
        margin-left:0;
        margin-top: 0px;
        position: relative;
    }
 

  

/* end: media queries */
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }*/
  
  /*body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000116;
  }*/
  
  